body {
  margin: 0;
  padding-top: 20px;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  background: #eedbae;
  background: radial-gradient(circle,rgba(238, 219, 174, 1) 0%, rgba(234, 170, 136, 1) 48%, rgba(230, 161, 96, 1) 100%);
  color: #4b3825;
}

h1 {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
}

.suitcase {
  position: relative;
  width: 900px;
  height: 500px;
  margin: 30px auto;
  transform: scale(0.6);
  transform-origin: top center;
}

.suitcase-img {
  position: absolute;
  width: 900px;
  left: 0;
  top: 0;
}

.item {
  position: absolute;
  transition: 0.3s;
}


.sea {
  width: 180px;
  left: 100px;
  top: 360px;
}

.dance {
  width: 115px;
  left: 310px;
  top: 270px;
}

.cat {
  width: 145px;
  left: 430px;
  top: 410px;
}

.fruit {
  width: 135px;
  left: 590px;
  top: 290px;
}

.ticket {
  width: 145px;
  left: 700px;
  top: 430px;
}


.item:hover {
  transform: scale(1.2);
  rotate: 60deg;
  z-index: 10;
}